.form-container{
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.submit-btn{
    width: 200px;
    height:40px;
    padding: 10px;
    background-color: wheat;
    color: #1f2937;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.error{
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}